<!-- Static navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-flicket" style="background-color:white !important;border-bottom:solid 1px darkslategray;">
    <a class="navbar-brand" href="{{ url_for('flicket_bp.index') }}" title="home">
        <i class="fas fa-home"></i>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" style="align-items: center;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Tickets</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownn">
                    <a class="dropdown-item" href="{{ url_for('flicket_bp.my_tickets') }}" title="Tickets assigned to or started by you.">{{ _('My Tickets') }}</a>
                    <a class="dropdown-item" href="{{ url_for('flicket_bp.my_tickets', created_id=g.user.id) }}" title="Tickets started by you.">{{ _('Created') }}</a>
                    <a class="dropdown-item" href="{{ url_for('flicket_bp.my_tickets', assigned_id=g.user.id) }}" title="Tickets assigned to you.">{{ _('Assigned') }}</a>
                    <a class="dropdown-item" href="{{ url_for('flicket_bp.subscribed') }}" title="Tickets you are subscribed to.">{{ _('Subscribed') }}</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flicket_bp.tickets') }}">{{ _('Tickets') }}</a>
            </li>
            <li class="nav-item"><a class="nav-link"
                                    href="{{ url_for('flicket_bp.ticket_create') }}">{{ _('Create Ticket') }}</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="{{ url_for('flicket_bp.departments') }}">{{ _('Departments') }}</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="{{ url_for('flicket_bp.flicket_users') }}">{{ _('Users') }}</a></li>
            {% if g.user.is_admin %}
                <li class="nav-item"><a class="nav-link"
                                        href="{{ url_for('admin_bp.index') }}">{{ _('Admin View') }}</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link"
                                    href="{{ url_for('dashboard') }}"><button class="btn btn-sm" style="background-color: #555555;color:white; font-weight: bold;">{{ _('Dashboard') }}</button></a></li>
        </ul>

        <ul class="navbar-nav">
            {%- if g.user.is_authenticated -%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        {{ g.user.name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href=" {{ url_for('flicket_bp.user_details') }} ">
                            <span class="oi oi-person pr-2" title="person"
                                  aria-hidden="true"></span> {{ _('User Details') }}
                        </a>
                        <a class="dropdown-item" href="{{ url_for('flicket_bp.logout') }}">
                            <span class="oi oi-account-logout pr-2" title="person"
                                  aria-hidden="true"></span>
                            {{ _('Log Out') }}
                        </a>
                    </div>
                </li>

            {%- else -%}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('flicket_bp.login') }}">
                        <span class="oi oi-account-login pr-2" title="person"
                              aria-hidden="true"></span> {{ _('Log In') }}
                    </a>
                </li>
            {%- endif -%}

        </ul>
    </div><!--/nav-collapse -->
</nav>
<!-- /Static navbar -->
