<!-- footer -->
<footer style="border-top:solid 1px darkslategray;background: linear-gradient(to right, #fff 0%, rgb(223 218 217) 61%, rgb(255 255 255) 100%);">
    Flicket {{ g.__version__ }} &copy; {{ now_year() }}  <a href="mailto:evereux@gmail.com">Paul Bourne</a> |
    {{ _('Source code available at:') }} <a href="https://github.com/evereux/flicket">Github</a>.
</footer>
<!-- end footer -->