    <footer class="main-footer d-flex p-2 px-3 bg-white border-top footer navbar-fixed-bottom">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="http://www.sangoma.com">emsNEXT {{swversion}} - For Sangoma Devices </a>
            </li>
        </ul>
        <span class="copyright ml-auto my-auto mr-2"> ©
             emsNext 2022
        </span>
        <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
    </footer>
