
          <div class="main-navbar sticky-top bg-white">
              <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">

                <form action="/search" method="post" autocomplete="off" style="width: 90%!important;" class="main-navbar__search d-none d-md-flex d-lg-flex">
                  <div class="input-group input-group-seamless ml-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>

                    <input id="autocomplete" name="column_names" class="navbar-search form-control" type="text" placeholder="Search" aria-label="Search" >


                  </div>
                </form>


                  <ul class="navbar-nav border-left flex-row ">

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle mr-2" src="/static/assets/img/avatars/baseavatar.png" alt="User Avatar">
                        <span class="d-none d-md-inline-block">

                        </span>
                      </a>


                      <div class="dropdown-menu dropdown-menu-small">
                    {% if current_user.is_authenticated %}
                        <a class="dropdown-item" href="/profile">
                          <i class="material-icons" style="color:black;font-size:18px;">account_box</i> Profile</a>
                        {% if current_user.isadmin == 'true' %}
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="/register">
                          <i class="material-icons" style="color:black;font-size:18px;">camera_front</i> Add-User </a>
                        {%endif%}
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="/logout">
                          <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                    {%endif%}
                    {% if not current_user.is_authenticated %}
                    <a class="dropdown-item" href="/login">
                          <i class="material-icons" style="color:black;font-size:18px;">camera_front</i> Login </a>
                    {%endif%}
                      </div>
                    </li>
                  </ul>


                <nav class="nav">
                  <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons">&#xE5D2;</i>
                  </a>
                </nav>
              </nav>
          </div>
