
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
            <div class="main-navbar">
              <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                
               
                   <img src="/static/assets/img/logo.png" style="margin:auto" alt="emsNext by Telenext">
                  
               
                <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                  <i class="material-icons">&#xE5C4;</i>
                </a>
              </nav>
            </div>

              <div class="nav-wrapper">
                <ul class="nav flex-column">
            {% if current_user.is_authenticated %}
<!--                    for normal user -->
                  <li class="nav-item">
                    <a onclick="unhide()" class="nav-link {{active}}" href="/quicksnapshot">
                      <i class="material-icons">tablet</i>
                      <span>Snapshot</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a onclick="unhide()" class="nav-link {{active}}" href="/dashboard">
                      <i class="material-icons">map</i>
                      <span>Dashboard</span>
                    </a>
                  </li>


                    <li class="nav-item">
                    <a class="nav-link {{active10}}" href="/performancegraph">
                      <i class="material-icons">insights</i>
                      <span>Performance Graphs</span>
                    </a>
                 </li>

                    <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                    <i class="material-icons">display_settings</i>
                      <span>CDR-Parser</span>
                        <i style="float:right" class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapse {{show}}" id="collapseExample2" style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                        <ul class="nav flex-column" style="background-color: #f5f6f8 !important;" >
                           {% for submenu in subcdr_menu %}
                            <li class="nav-item" >
                                <a class="nav-link {{active_var}}" href="/cdrparser/{{submenu}}">
                                  <i class="material-icons">assessment</i>
                                  <span>{{submenu}}</span>
                                </a>
                             </li>
                            {%endfor%}
                        </ul>
                    </div>
            </li>

<!--                    <li class="nav-item mb-2 mt-0"> <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white collapsed" aria-controls="ProfileNav" role="button" aria-expanded="false"> <span class="nav-link-text ms-2 ps-1"> test </span> </a> <div class="collapse" id="ProfileNav" style=""> <ul class="nav "> <li class="nav-item"> <a class="nav-link text-white" href="/profile-overview.html"> <span class="sidenav-mini-icon"> MP </span> <span class="sidenav-normal  ms-3  ps-1"> My Profile </span> </a> </li> <li class="nav-item"> <a class="nav-link text-white " href="/account-settings.html"> <span class="sidenav-mini-icon"> S </span> <span class="sidenav-normal  ms-3  ps-1"> Settings </span> </a> </li> <li class="nav-item"> <a class="nav-link text-white " href="/logout"> <span class="sidenav-mini-icon"> L </span> <span class="sidenav-normal  ms-3  ps-1"> Logout </span> </a> </li> </ul> </div> </li>-->
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="material-icons">display_settings</i>
                      <span>CDR-Reports</span>
                        <i style="float:right" class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapse {{show2}}" id="collapseExample" style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                        <ul class="nav flex-column" style="background-color: #f5f6f8 !important;" >
                           {% for submenu in subcdr_menu %}
                            <li class="nav-item" >
                                <a class="nav-link {{active_var2}}" href="/cdrreport/{{submenu}}">
                                  <i class="material-icons">assessment</i>
                                  <span>{{submenu}}</span>
                                </a>
                             </li>
                            {%endfor%}
                        </ul>
                    </div>
            </li>
<!--                    <li class="nav-item">-->
<!--                    <a class="nav-link {{active11}}" href="/cdrreports">-->
<!--                      <i class="material-icons">display_settings</i>-->
<!--                      <span>CDR-Reports</span>-->
<!--                    </a>-->
<!--                 </li>-->



                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample32" role="button" aria-expanded="false" aria-controls="collapseExample32">
                    <i class="material-icons">display_settings</i>
                      <span>Tickets</span>
                        <i style="float:right" class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapse {{show3}}" id="collapseExample32" style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                        <ul class="nav flex-column" style="background-color: #f5f6f8 !important;" >
                                <li class="nav-item">
                                  <a class="nav-link {{active7}}" href="/flicket/ticket_create/">
                                    <i class="material-icons">report</i>
                                    <span>New Ticket</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a  class="nav-link {{active8}}" href="/flicket/my_tickets/">
                                    <i class="material-icons">confirmation_number</i>
                                    <span>My Tickets</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link {{active9}}" href="/flicket/departments/">
                                    <i class="material-icons">domain</i>
                                    <span>Departments</span>
                                  </a>
                                </li>

                        </ul>
                    </div>
            </li>

                    <li class="nav-item">
                    <a class="nav-link {{active15}}" href="/BaRview">
                      <i class="material-icons">backup_table</i>
                      <span>Backup and Restore</span>
                    </a>
                 </li>
                    <li class="nav-item">
                    <a class="nav-link {{active16}}" href="/licenseview">
                      <i class="material-icons">local_police</i>
                      <span>License Manager</span>
                    </a>
                 </li>
                    <li class="nav-item">
                    <a class="nav-link {{active2}}" href="/deviceview">
                      <i class="material-icons">tablet</i>
                      <span>Device Manager</span>
                    </a>
                 </li>
                    {% if current_user.isadmin == 'true'%}
                     <li class="nav-item">
                    <a class="nav-link {{active3}}" href="/userview">
                      <i class="material-icons">face</i>
                      <span>User Manager</span>
                    </a>
                 </li>
                    {%endif%}
                <li class="nav-item">
                  <a class="nav-link {{active11}}" href="/deviceaccess">
                    <i class="material-icons">cable</i>
                    <span>Device Access</span>
                  </a>
                </li>

              <li class="nav-item" onclick="scrollfunc()">
                <a class="nav-link {{active_var3}}" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
                  aria-controls="collapseExample3">
                  <i class="material-icons">fingerprint</i>
                  <span>Diagnostics</span>
                  <i style="float:right" class="material-icons">arrow_drop_down</i>
                </a>
                <div class="collapse {{show4}}" id="collapseExample3"
                  style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                  <ul class="nav flex-column" style="background-color: #f5f6f8 !important;">
                    
                    <li class="nav-item">
                      <a class="nav-link {{active_var30}}" href="/diagnostics/nodes">
                        <i class="material-icons">near_me</i>
                        <span>Nodes</span>
                      </a>
                    </li>
                    <li class="nav-item" id="mos">
                      <a class="nav-link {{active_var31}}" href="/diagnostics/mos">
                        <i class="material-icons">flag</i>
                        <span>M.O.S Report</span>
                      </a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link {{active_var32}}" href="/diagnostics/ping">
                        <i class="material-icons">network_ping</i>
                        <span>Ping Test</span>
                      </a>
                    </li>
              
                    <li class="nav-item" id="net_check">
                      <a onclick="animationcall('Checking internet speed...')" class="nav-link {{active_var33}}">
                        <i class="material-icons">network_check</i>
                        <span>Internet Speed</span>
                      </a>
                    </li>
              
                  </ul>
                </div>
              </li>


<!--              <li class="nav-item">-->
<!--                <a class="nav-link {{active13}}" href="/deviceaccess">-->
<!--                  <i class="material-icons">settings_accessibility</i>-->
<!--                  <span>Auto Provisioning</span>-->
<!--                </a>-->
<!--              </li>-->


              <li class="nav-item" onclick="scrollfunc()">
                    <a class="nav-link {{active40}}" data-toggle="collapse" href="#collapseExample111" role="button" aria-expanded="false" aria-controls="collapseExample111">
                    <i class="material-icons">settings_accessibility</i>
                      <span>Auto Provisioning</span>
                        <i style="float:right" class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapse {{show42}}" id="collapseExample111" style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                        <ul class="nav flex-column" style="background-color: #f5f6f8 !important;" >
                                <li class="nav-item">
                                  <a class="nav-link {{active_var40}}" href="/autoprovisiondef">
                                    <i class="material-icons">report</i>
                                    <span>Default</span>
                                  </a>
                                </li>
                                <li class="nav-item" id="mac">
                                  <a  class="nav-link {{active_var41}}" href="/autoprovisionmacid">
                                    <i class="material-icons">confirmation_number</i>
                                    <span>MAC based</span>
                                  </a>
                                </li>
                        </ul>
                    </div>
            </li>

              <li class="nav-item" onclick="scrollfunc()">
                <a class="nav-link {{active_var50}}" data-toggle="collapse" href="#collapseExample4" role="button"
                  aria-expanded="false" aria-controls="collapseExample4">
                  <i class="material-icons">update</i>
                  <span>Firmware Update</span>
                  <i style="float:right" class="material-icons">arrow_drop_down</i>
                </a>
                <div class="collapse {{show50}}" id="collapseExample4"
                  style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                  <ul class="nav flex-column" style="background-color: #f5f6f8 !important;">
              
                    <li class="nav-item">
                      <a class="nav-link {{active_var51}}" href="/fwu/viewjobs">
                        <i class="material-icons">view_list</i>
                        <span>View Update Jobs</span>
                      </a>
                    </li>
              {% if current_user.isadmin == 'true'%}
                    <li class="nav-item" id="nuj">
                      <a class="nav-link {{active_var52}}" href="/fwu/newjob">
                        <i class="material-icons">build</i>
                        <span>New Update Job</span>
                      </a>
                    </li>
              {%endif%}
                    <li class="nav-item" id="nff">
                      <a onclick="animationcall('Loading...')" class="nav-link {{active_var53}}" href="/fwu/viewfiles">
                        <i class="material-icons">cloud_sync</i>
                        <span>View Firmware Files</span>
                      </a>
                    </li>
              {% if current_user.isadmin == 'true'%}
                    <li class="nav-item" >
                      <a class="nav-link {{active_var54}}" href="/fwu/newfile">
                        <i class="material-icons">file_upload</i>
                        <span>New Firmware File</span>
                      </a>
                    </li>
                {%endif%}
<!--                    <li class="nav-item" id="al">-->
<!--                      <a onclick="animationcall('Opening Logs')" class="nav-link {{active_var55}}">-->
<!--                        <i class="material-icons">lightbulb</i>-->
<!--                        <span>Activity Logs</span>-->
<!--                      </a>-->
<!--                    </li>-->
              
                  </ul>
                </div>
              </li>


            <li class="nav-item" onclick="scrollfunc()">
                <a class="nav-link {{active_var60}}" data-toggle="collapse" href="#collapseExample6" role="button"
                  aria-expanded="false" aria-controls="collapseExample4">
                  <i class="material-icons">notifications_active</i>
                  <span>SNMP Alarms</span>
                  <i style="float:right" class="material-icons">arrow_drop_down</i>
                </a>
                <div class="collapse {{show60}}" id="collapseExample6"
                  style="margin-left:2px;margin-right:2px;border:1px solid #e1e5eb">
                  <ul class="nav flex-column" style="background-color: #f5f6f8 !important;">
                {% if current_user.isadmin == 'true'%}
                    <li class="nav-item" id="ct">
                      <a class="nav-link {{active_var61}}" href="/snmp/newtriggers">
                        <i class="material-icons">ads_click</i>
                        <span>Create Trigger</span>
                      </a>
                    </li>
                      {%endif%}
                      <li class="nav-item" id="vt">
                      <a class="nav-link {{active_var62}}" href="/snmp/viewtriggers">
                        <i class="material-icons">assignment_late</i>
                        <span>View Trigger</span>
                      </a>
                    </li><li class="nav-item" id="va">
                      <a class="nav-link {{active_var63}}" href="/snmp/viewalarm">
                        <i class="material-icons">record_voice_over</i>
                        <span>View Alarms</span>
                      </a>
                    </li>

                  </ul>
                </div>
              </li>
        {% if current_user.isadmin == 'true'%}
                <li class="nav-item" id="al">
                      <a href="/alllogs" class="nav-link {{active_var65}}">
                        <i class="material-icons">lightbulb</i>
                        <span>Activity Logs</span>
                      </a>
                    </li>

            {%endif%}
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link {{active12}}" href="/deviceaccess">-->
<!--                      <i class="material-icons">notifications_active</i>-->
<!--                      <span>SNMP Alarms</span>-->
<!--                    </a>-->
<!--                  </li>-->



            {%endif%}
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {{active9}}" href="/login">
                      <i class="material-icons">face</i>
                      <span>Login</span>
                    </a>
                 </li>
            {%endif%}

                </ul>
              </div>
        </aside>

