/* flicket specific css */
/* everything else should be inherited from bootstrap */

/* offset body content for fixed navbar */

/* color pallete http://paletton.com/#uid=20c0u0kqruf27Fv8XMB-SnVlsbX */
/* color pallete http://paletton.com/#uid=20b0u0k2NvK02Yk0WJ55yre9mn7 */


.flicket-button-link-white:hover, .flicket-button-link-white:link, .flicket-button-link-white:visited {
    color: white;
}

.btn-primary {
    background-color: #555555;
    border-color: white;
}

.btn-outline-primary {
    border-color: #0000b4;
}

.active {
    background-color: #0000b4;
}

body {
    font-size: 0.9rem;
    background-color: #f8f9fa;
}

blockquote {
    background-color: #faf7d7;
    font-size: inherit
}

h1 {
    margin: 1rem;
}

.navbar-flicket {
    border-bottom: 1px solid #F1592A;
}

/*noinspection CssInvalidFunction*/
footer {
    font-size: 0.7rem;
    color: darkslategray;
    text-align: center;
    border-top: solid 1px #F1592A;
    padding: 0.4rem;
    margin-top: 2rem;
    background: -moz-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 86, 39, 1)), color-stop(61%, rgba(237, 187, 173, 1)), color-stop(100%, rgba(237, 187, 173, 1)));
    background: -webkit-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -o-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -ms-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: linear-gradient(to right, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
}

header {
    background: rgba(241, 86, 39, 1);
    background: -moz-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    /*noinspection CssInvalidFunction*/
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 86, 39, 1)), color-stop(61%, rgba(237, 187, 173, 1)), color-stop(100%, rgba(237, 187, 173, 1)));
    background: -webkit-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -o-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -ms-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: linear-gradient(to right, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f15627', endColorstr='#edbbad', GradientType=1);
    color: white;
    padding: 10pt;
}

/* force white background as some browsers themes bugger up the admin config forms */
input {
    background-color: white;
}

input[type="checkbox"] {
    background-color: white;
}

input[type="radio"] {
    background-color: white;
}

.flicket-action {
    background-color: rgba(254, 203, 190, 0.3);
    font-size: 0.8rem;
}

.flicket-avatar {
    max-width: 90%;
}

.flicket-avatar-admin {
    color: red
}

.flicket-avatar-super {
    color: #0c5460;
}


.white_space {
    white-space: pre-wrap;
}

.flask-pagedown-preview {
    margin-top: 10px;
    border: solid 1px silver;
    border-radius: 3px;
    background-color: #e8f5f3;
    padding: 10px;
    display: none;
}

.flicket-post-col-author {
    flex: 0 0 125px;
}

.flicket-tickets-header {
    background-color: #F5F5F5;
}

.flicket-tickets-header-a:link, .flicket-tickets-header-a:hover, .flicket-tickets-header-a:visited {
    color: #121a35;
}

.flicket-tickets-title {
    font-size: 0.8rem;
    color: #659dca;
}

.flicket-tickets-content {
    font-size: 0.8rem;
}

.flicket-ticket-title {
    font-size: 1.3rem;
}

.flicket-status-high {
    border-bottom: red solid 0.3rem;

}

.flicket-status-medium {
    border-bottom: rgba(255, 181, 145, 0.58) solid 0.3rem;
}

.flicket-status-low {
    border-bottom: rgba(255, 255, 255, 0) solid 0.3rem;
}

.flicket-status-closed {
    color: #aaaaaa;
}

td {
    position: relative;
}

.flicket-top-buffer {
    margin-top: 20px;
}


.oi-flicket-cl-dg {
    fill: #000000;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .4rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.btn-group-xxs > .btn, .btn-xxs {
    padding: .25rem .25rem;
    font-size: .6rem;
    line-height: .5;
    border-radius: .2rem;
}

.form-control-xs {
    height: calc(1em + .375rem + 2px) !important;
    padding: .0rem .2rem;
    font-size: 0.7rem !important;
    line-height: 1.5;
    border-radius: 0.2rem;
}