{% extends "base-site.html" %}
{% block title %} Activity Logs {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}
<div class="" style="margin-left:2px !important;margin-right:2px !important">
<br>
<div class="page-wrapper">
 
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <h4 style="position:relative;top:-4px" class="card-title">All Logs</h4>
                            </div>
<!--                            <div class="col-6">-->
<!--                                <a style="float:right" href="/snmp/newtriggers"><button class="btn btn-sm" style="background-color: #dbdbdb;-->
<!--        color: #212529;-->
<!--        font-size: 13px;-->
<!--        font-weight: 600;-->
<!--        padding: 10px 20px;-->
<!--        border: none;-->
<!--        border-radius: 3px;-->
<!--        cursor: pointer;-->
<!--        margin-right: 12px;-->
<!--        float: right;">Create Trigger</button></a>-->
<!--                            </div>-->
                        </div>

                        <div id="jobtablediv" class="table-responsive m-t-40">
                            <table id="example90" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Timestamp</th>
                                        <th>DeviceName</th>
                                        <th>IP</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for logs in alllogs %}
                                    <tr>
                                        <td style="color:#555555;font-weight:600">{{logs.action}}</td>
                                        <td style="color:red;font-weight:600">{{logs.ts}}</td>
                                        <td>{{logs.devicename}}</td>
                                        <td>{{logs.ip}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
     
    </div>
 
   
</div>

</div>

{% endblock %}
{% block javascripts %}
<script>
$('#example90').DataTable({
    	    dom: 'Bfrtlip',

            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
            "order": [[ 1, "desc" ]],
            "lengthMenu": [ 20, 35, 50, 75, 100 ],
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});



    function verifydelete(fileid) {
        swal.fire({
            title: "Are you sure, you want to delete?",
            text: "Deleted Trigger data cannot be viewed again!!",
            icon: "warning",
            dangerMode: true,
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        })
            .then(willDelete => {
                if (willDelete.isConfirmed) {
                    $.get("/snmp/triggerdelete/" + fileid, function (data) {
                        swal.fire("Deleted!", "The trigger has been deleted!", "success");
                        setTimeout(function(){
                                location.reload();
                         }, 550);

                    });

                }
            });
    }


</script>
<script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 4500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: '{{ category }}',
  title: '{{message}}'
})
    {% endfor %}
  {% endif %}
{% endwith %}

    setTimeout(function(){
           document.getElementById("va").scrollIntoView();
         }, 250);


</script>
{% endblock javascripts %}