{% extends "base-site.html" %}

{% block title %} Mac ID {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Mac ID's</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/createmacpage">
    <button {% if current_user.readonly == 'true' %} disabled    {%endif%}  style="background-color: #dbdbdb;
        color: #212529;
        {% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        margin-right: 12px;
        float: right;">Add Mac ID</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>MAC-ID </th>
            <th>View </th>
            <th>Delete </th>
        </tr>
    </thead>
    <tbody>
    {% for file in allfiles %}
        <tr>
            <td>{{file[:-4]}}</td>
            <td>
                <a href="/autoprovmacid/{{file}}"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">View</button></a>
            </td>
            <td>
            <a href="/autoprovmaciddelete/{{file}}"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

setTimeout(function(){
           document.getElementById("mac").scrollIntoView();
         }, 300);

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock javascripts %}