<!doctype html>
<html class="no-js h-100" lang="en">
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/assets/img/favicon.png" />

    <title>
      emsNEXT - {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <meta name="description" content="scrapping details into a single interface.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/static/assets/css/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/static/assets/css/extras.1.1.0.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  

<!--    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>-->
      <style>

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
      font-weight: 600;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#box {
    position: absolute;
    top: 30%;
    left: 45%;
    display: flex;
    width: 7rem;
    height: 7rem;
    background: rgb(61, 61, 61);
    transform: rotate(45deg);
    animation: loop 1.5s ease forwards infinite;
    overflow: hidden;
}

#box2 {
    position: absolute;
    top: 49%;
    left: 39%;
    display: flex;
    width: max-content;
    height: 3.6rem;
    overflow: hidden;
}

#circle {
    position: absolute;
    margin-top: 2.25rem;
    margin-left: 2.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(0, 174, 255);
    border-radius: 50%;
}

#smallcircle, #smallcircle2 {
    background: rgb(0, 225, 255);
    width: 1.25rem;
    height: 1.25rem;
}

#smallcircle {
    border-radius: 100% 0 0 0;
}

#smallcircle2 {
    margin-left: 1.25rem;
    border-radius: 0 0 100% 0;
}

#black, #black2 {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: rgb(31, 31, 31);
}

#black2 {
    margin-top: 3.5rem;
    margin-left: 3.5rem;
}

@keyframes loop {
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.35) rotate(225deg);
        border-radius: 50%;
    }
    100% {
        transform: scale(1) rotate(405deg);
        border-radius: 0 0 0 0;
    }
}

      </style>
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body class="h-100">

    {% include 'site_template/color-switcher.html' %}

    <div class="container-fluid">
      <div class="row">

        {% include 'site_template/sidebar.html' %}

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3" style="background-color: #f5f6f8;">

          {% include 'site_template/navigation.html' %}
          <div id="load"></div>
          <div class="main-content-container container-fluid px-4" style="background-color:#f5f6f8;">

<!--          <div class="container-fluid">-->
          {% block content %}{% endblock content %}
              <div id="animation"  style="display:none">
    <div id="box">
    <div id="black"></div>
    <div id="black2"></div>
    <div id="circle">
        <div id="smallcircle"></div>
        <div id="smallcircle2"></div>
    </div>
</div>
                <center id="box2" style="color:black;background-color: rgba(255,255,255);"><h4 class="animate-charcter" id="loadtext">Backing Up Configs...</h4></center>
        </div>

             <div id="loader" class="abcde">
            <div class="bubblingG abcdef">
	<span id="bubblingG_1">
	</span>
	<span id="bubblingG_2">
	</span>
	<span id="bubblingG_3">
	</span>
</div>
              </div>
          </div>
          {% include 'site_template/footer.html' %}
        </main>
      </div>

    </div>
    {% include 'site_template/scripts.html' %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>
    {% endblock javascripts %}

  </body>
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
  <!-- MADE BY TELENEXT SYSTEM PRIVATE LIMITED. WWW.TELENEXTSYSTEMS.COM. PLEASE CONTACT SAMRAT@TELENEXTSYSTEMS.COM -->
</html>
