{% extends "base-site.html" %}

{% block title %} CDR Report {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<style>

#myBtn {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 25px;
    z-index: 99;
    font-size: 19px;
    border: none;
    outline: none;
    background-color: #c4183c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
{% endblock stylesheets %}

{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
<div class="">
    <div class="">
<p id="demo"></p>
        <div class="uform" style="margin-left:10px !important;margin-right:10px !important">
            <center>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                </center>
        </div>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row" style="margin-bottom:10px">
        <div class="col">
        <button class="btn" style="background-color: #555555;color:white; font-weight: bold;" onclick="resettable();"><i class="fas fa-sync"></i> refresh</button>
        </div>
        <div class="col">
<!--            <a style="text-decoration:none;color:black" href="/generaterecords">-->

<!--            </a>-->
        </div>
    </div>

<table id="example99" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
         <tr>
             <th>device_type</th>
             <th>device_name</th>
             <th>from-todate</th>
             <th>report_name</th>
             <th>group_query</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{device_type}}</td>
            <td>{{device_name}}</td>
            <td>{{from_date}} - {{to_date}}</td>
            <td>{{report}}</td>
            <td>{% if group_query is defined and group_query|length > 0 %}{%for i in group_query %}{{i[0]}}:{{i[1]}}, {%endfor%}{% else %} None {%endif%}</td>
<!--            [0]+group_query[1]|string-->
        </tr>

     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
<script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}


// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}



var table = $('#example99').DataTable({
    	    dom: 'Bfrtlip',
            buttons:[
            {
                extend: 'colvis',
                collectionLayout: 'fixed two-column'
            },
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
            "order": [0, 'desc'],
            'ordering': true,
            "lengthMenu": [ 10, 25, 50, 75, 100 ],
            deferRender:    true,
    	    scrollY:        350,
    	    scrollX:        true,
            scrollCollapse: true,
            scroller:       true,
            "autoWidth": true,
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});

function resettable(){
$('#container').css( 'display', 'block' );
table.columns.adjust().draw();
}


function myDisplayer(some) {
   if (some == "Success") {
  Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: some,
  showConfirmButton: false,
  timer: 1200
})
}else{
Swal.fire({
      position: 'top-end',
      icon: 'error',
      title: some,
      showConfirmButton: false,
      timer: 1200
    })
}

}

var barColors = ["red", "green","blue","orange","brown"];
var x = [{%for i in group_query%}"{{i[0]}}",{%endfor%}]
var y = [{%for i in group_query%}"{{i[1]}}",{%endfor%}]
var title = "{{report}} : {{from_date}} - {{to_date}}"
var title = title.toUpperCase();
new Chart("myChart", {
  type: "bar",
  data: {
    labels: x,
    datasets: [{
      backgroundColor: barColors,
      data: y
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: title
    }
  }
});
</script>
{% endblock javascripts %}