{% extends "base-site.html" %}

{% block title %} CDR Parser {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<style>

#myBtn {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 25px;
    z-index: 99;
    font-size: 19px;
    border: none;
    outline: none;
    background-color: #c4183c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
{% endblock stylesheets %}

{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
<div class="">
    <div class="">
<p id="demo"></p>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row" style="margin-bottom:10px">
        <div class="col">
        <button class="btn" style="background-color: #555555;color:white; font-weight: bold;" onclick="resettable();"><i class="fas fa-sync"></i> refresh</button>
        </div>
        <div class="col">
<!--            <a style="text-decoration:none;color:black" href="/generaterecords">-->
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  style="background-color: #dbdbdb;
        color: #212529;
        {% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;

        margin-right: 12px;
        float: right;" onclick="getFile(myDisplayer);">Generate Records</button>
<!--            </a>-->
        </div>
    </div>

<table id="example99" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
         <tr>
            {% for data in allkeys %}
            <th>{{data}}</th>
            {%endfor%}
        </tr>
    </thead>
    <tbody>

    {% for dataa in data %}
        <tr>
            {% for key in allkeys %}
            <td>{{dataa[key]}}</td>
            {%endfor%}
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
<script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 4500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: '{{ category }}',
  title: '{{message}}'
})
setTimeout(function(){
            window.location.href = '/dashboard';
         }, 2500);
    {% endfor %}
  {% endif %}
{% endwith %}


// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}



var table = $('#example99').DataTable({
    	    dom: 'QBfrtlip',
            buttons:[
            {
                extend: 'colvis',
                collectionLayout: 'fixed two-column'
            },
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
            "order": [0, 'desc'],
            'ordering': true,
            "lengthMenu": [ 10, 25, 50, 75, 100 ],
            deferRender:    true,
    	    scrollY:        350,
    	    scrollX:        true,
            scrollCollapse: true,
            scroller:       true,
            "autoWidth": true,
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});

function resettable(){
$('#container').css( 'display', 'block' );
table.columns.adjust().draw();
}


function myDisplayer(some,status) {
if (status == 500 || some.includes("Fail") ){
icon = 'error'
}else{
icon = 'success'
}

Swal.fire({
      position: 'top-end',
      icon: icon,
      title: 'Response',
      html: '<div style="text-align: left;">'+some+'</div>',
      showConfirmButton: true,
      timer: 11200
    })
}

function getFile(myCallback) {
  let req = new XMLHttpRequest();
  req.open('GET', "/generaterecords");
  req.onload = function() {
    if (req.status == 200) {

      myCallback(this.responseText,req.status);

    } else {

      myCallback(this.responseText,req.status);
    }
  }
  req.send();
}



</script>
{% endblock javascripts %}