{% extends "base-site.html" %}

{% block title %} CDR Parser {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<style>

#myBtn {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 25px;
    z-index: 99;
    font-size: 19px;
    border: none;
    outline: none;
    background-color: #c4183c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
{% endblock stylesheets %}

{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
<div class="">
    <div class="">
<p id="demo"></p>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row" style="margin-bottom:10px">
        <form action="/cdrreports" method="post">
            <div class="row">
                <div class="col-6">
                    From - date : <input type="date" name="from_date">
                </div>
                <div class="col-6">
                    To - date : <input type="date" name="to_date">
                </div>
                <input type="hidden" value="{{tablename}}" name="device_table">
                <input type="hidden" value="{{dtype}}" name="device_type">
                <div class="col-6">
                    Device Name : <select name="device_name">
                    {% for names in data %}
                    {% if not names[0] == None %}
                    <option>{{names[0]}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
                </div>
                <div class="col-6">
                    Group Report : <select name="report">
                    <option>Hourly</option>
                    {% for report in group_report %}
                    <option>{{report}}</option>
                    {%endfor%}
                    {% if not group_report[0] %}
                    <option>no group reports in config </option>
                    {%endif%}
                </select>
                </div>
                <div class="col-12">
                    <center>
                        {% if not group_report[0] %}
                            <input disabled style="width:20%;margin-top:20px" type="submit" class="btn" value="search">
                        {%else%}
                            <input style="width:20%;margin-top:20px" type="submit" class="btn" value="search">
                        {%endif%}
                    </center>
                </div>
            </div>
        </form>
    </div>

</div>

    </div></div>
{% endblock content %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
<script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}


// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>
{% endblock javascripts %}