{% extends "base-site.html" %}

{% block title %} AutoProvision - MacID {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
{% endblock stylesheets %}

{% block content %}



<div class="">
    <div class="" style="margin-left:10px !important;margin-right:10px !important">
<br>
<div class="card">
  <div class="card-body">

    <div class="row">
        <div class="col">
        <label for="defaulttext">Auto Provisioning - MacID</label>
        </div>
        <div class="col">
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  onclick="defaulttext();"  style="background-color: #dbdbdb;
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        {% if current_user.readonly == 'true' %}cursor: not-allowed;{%endif%}
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;

        margin-right: 12px;
        float: right;">Create</button>
            <p style="float:right;color:red;margin-right:20px;{% if current_user.readonly == 'true' %} display:none; {%endif%} ">You can also press Alt + Enter to Create ! </p>
        </div>
    </div>
<div class="row">
    <div class="col-2">
        <label for="macid">Mac ID: </label>
    </div>
    <div class="col-5">
        <input id="macid" class="form-control" type="text" name="macid" placeholder="R2D2C3PO" required autofocus>
    </div>
    <div class="col-5">
        <button onclick="gettext()" class="btn btn-sm">Use Standard Template</button>
    </div>
</div>
    <div class="form-group">
  <textarea name="defaulttext" style="font-weight:500;font-size:16px" class="form-control" id="defaulttext" rows="14" placeholder="Write something here..." autofocus>{{contents}}</textarea>
</div>
<!--<textarea name="defaulttext" rows="20" cols="50" autofocus></textarea>-->
</div>
 </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
setTimeout(function(){
           document.getElementById("mac").scrollIntoView();
         }, 300);

function gettext(){
 var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

        document.getElementById("defaulttext").value=this.responseText;
      }
    }
      xhttp.open("GET", "/templatetext", true);
      xhttp.send();




}

$('#defaulttext').keydown(function (e) {

  if (e.altKey && e.keyCode == 13) {
{% if not current_user.readonly == 'true' %}
    defaulttext();
    {% else %}
    alert("Unauthorized attempt");
    {%endif%}
  }

});

function defaulttext(){

    var defaulttext = document.getElementById("defaulttext").value;
    var macid = document.getElementById("macid").value;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
          const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: 'Created Successfully'
})

const myTimeout = setTimeout(myGreeting, 1000);

      }

    }
        xhttp.open("POST", "/createmacid/"+macid, true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send("defaulttext="+defaulttext);



}

function myGreeting() {
  location.href='/autoprovisionmacid'
}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>

{% endblock javascripts %}