{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<style>

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #c4183c;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.paginate_button current{
color: white !important
}
    .modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
 background-color: #fefefe;
    margin: auto;
    padding: 22px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 89%;
    height: max-content;
}

/* The Close Button */
.close {

}
table.dataTable tr td {
  height: 60px;
}

</style>
{% endblock stylesheets %}

{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="tablepad">
    <div class="" style="margin-top:-40px">
<br><br>
         {% set ps = namespace(types=2) %}
{% set dt = namespace(dtypes=1) %}
{% for mylist in device_types_list %}

        {% set ns = namespace(beds=1) %}
        <h3 style="margin-top:20px">{{mylist|upper}}</h3>
        <div>
        <button class="btn" style="background-color: #555555;color:white; font-weight: bold;" onclick="resettable{{loop.index}}();"><i class="fas fa-sync"></i> refresh</button>
        <p style="float:right;color:red">! In case of table errors press refresh</p>
        </div>
        <div style="margin-top:20px;margin-bottom:15px">
          Toggle column: {% for data in allkeys %}{% if data == 'paramname' or data == 'paramvalue'%}{%else%}<a class="toggle-vis{{ps.types}}" style="color:blue" data-column="{{loop.index-1}}"><B>{{data|upper}}</B></a> - {% set ns.beds = ns.beds + 1 %}{%endif%}{%endfor%}{% for param in device_params_dict[mylist][0] %}<a class="toggle-vis{{ps.types}}" style="color:blue" data-column="{{ns.beds}}"><B>{{param|upper}}</B></a> - {% set ns.beds = ns.beds + 1 %}{%endfor%}{% set ps.types = ps.types + 1 %}
    </div>


<table cellpadding="0" cellspacing="0" border="0" id="example123{{ loop.index }}" class="display table responsive" style="background:unset;width:100%">
    <thead>
        <tr>

            {% for data in allkeys %}
            {% if data == 'paramname' or data == 'paramvalue'%}
            {%else%}
            <th>{{data}}</th>
            {%endif%}
            {%endfor%}
            <th>data</th>
            {% for param in device_params_dict[mylist][0] %}
            <th>{{param}}</th>
            {%endfor%}
             {% for param in devicecontrol_params_dict[mylist][0] %}
            <th>{{param}}</th>
            {%endfor%}
        </tr>
    </thead>

    <tbody>


{% for data2 in data[mylist] %}
        <tr>

{% for key in allkeys %}
            {% if key == 'paramname' or key == 'paramvalue' %}
            {%else%}
            <td>{{data2[key]}}</td>
            {%endif%}
{%endfor%}
            <td><button class="btn" onclick="mymodalwindow{{dt.dtypes}}('{{data2["device_name"]}}');"  style="cursor: alias;">All Details</button></td>

            {% set mydata_dict = data2['paramvalue']|basename %}
             {% for param in device_params_dict[mylist][0] %}
             <td>{{mydata_dict[param]}}</td>
            {%endfor%}

             {% for param in devicecontrol_params_dict[mylist][0] %}
            <td><a href="/controlapi/{{data2['id']}}/{{data2['device_type']}}/{{param}}"><button class="btn">{{param}}</button></a></td>
            {%endfor%}
        </tr>
{%endfor%}

     </tbody>

</table>

<!--        end of types for loop -->
{% set dt.dtypes = dt.dtypes + 1 %}
{%endfor%}
<!--        below type wise modal window logic -->
{% set dt = namespace(dtypes=1) %}
{% for mylist in device_types_list %}

        <!-- The Modal -->
<div autofocus id="myModal{{dt.dtypes}}" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
<!--    <span class="close">&times;</span>-->
      <button class="btn" style="background-color: #555555;color:white; font-weight: bold; width:120px;margin-bottom:20px;" onclick="resettable{{dt.dtypes+234}}();"><i class="fas fa-sync"></i> refresh</button>
      <div>

    </div>


    <table  id="example99{{dt.dtypes}}" class="display table responsive " style="background:unset;width:100%;">
    <thead>
        <tr>
             {% for data in allkeys %}
            {% if data == 'paramname' or data == 'paramvalue'%}
            {%else%}
            <th>{{data}}</th>
            {%endif%}
            {%endfor%}

            {% for param in device_params_dict[mylist][0] %}
            <th>{{param}}</th>
            {%endfor%}
             {% for param in devicecontrol_params_dict[mylist][0] %}
            <th>{{param}}</th>
            {%endfor%}
        </tr>
    </thead>

    <tbody>



{% for data in alldata %}
        <tr>
{% for key in allkeys %}
             {% if key == 'paramname' or key == 'paramvalue' %}
            {%else%}
            <td>{{data[key]}}</td>
            {%endif%}
{%endfor%}
             {% set mydata_dict = data['paramvalue']|basename %}
             {% for param in device_params_dict[mylist][0] %}
             <td>{{mydata_dict[param]}}</td>
            {%endfor%}

             {% for param in devicecontrol_params_dict[mylist][0] %}
            <td><a href="/controlapi/{{data['id']}}/{{data['device_type']}}/{{param}}"><button class="btn">{{param}}</button></a></td>
            {%endfor%}
        </tr>
{%endfor%}
     </tbody>

</table>

    <button class="closer btn btn-danger" style="width:180px;margin:auto;font-size:15px;margin-top:10px">Close</button>

  </div>

</div>
{% set dt.dtypes = dt.dtypes + 1 %}
{%endfor%}

<!--        modal screen for loop end above-->

</div>
</div>

{% endblock %}
{% block javascripts %}
<script>

{% set dt = namespace(dtypes=1) %}
{% for mylist in device_types_list %}

    var table{{dt.dtypes+234}} = $('#example99{{dt.dtypes}}').DataTable({
    	    dom: 'Bfrtlip',
            buttons:[
            {
                extend: 'colvis',
                collectionLayout: 'fixed two-column'
            },
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
            "order": [0, 'desc'],
            'ordering': true,
            "lengthMenu": [ 10, 25, 50, 75, 100 ],
            deferRender:    true,
    	    scrollY:        300,
    	    scrollX:        true,
            scrollCollapse: true,
            scroller:       true,
            "autoWidth": true,
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});


function mymodalwindow{{dt.dtypes}}(dname){


// Get the modal
var modal = document.getElementById("myModal{{dt.dtypes}}");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closer")[{{dt.dtypes-1}}];
      modal.style.display = "block";
      table{{dt.dtypes+234}}.search(dname).draw();

$('#container').css( 'display', 'block' );
table{{dt.dtypes+234}}.columns.adjust().draw();

var scrollbar_pos = document.documentElement.scrollTop;
console.log(scrollbar_pos);

<!--Scrolling to top towards modal window-->
 document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  document.body.scrollTop = scrollbar_pos;
  document.documentElement.scrollTop = scrollbar_pos;
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    document.body.scrollTop = scrollbar_pos;
    document.documentElement.scrollTop =scrollbar_pos;
  }
}

}


function resettable{{dt.dtypes+234}}(){
$('#container').css( 'display', 'block' );
table{{dt.dtypes+234}}.columns.adjust().draw();
}


{% set dt.dtypes = dt.dtypes + 1 %}
{%endfor%}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast{{loop.index}} = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2700,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast{{loop.index}}.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}

setTimeout(function(){
   window.location.reload(1);
}, 195000);
<!--loading screena animation-->
window.onbeforeunload = function () {
    document.getElementById('load').style.visibility="visible";
         document.getElementById('loader').style.visibility="visible";
}
$(document).ready(function() {

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();


        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );

</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
<script>
 {% set as = namespace(types=2) %}

{% for mylist in device_types_list %}



    var table{{loop.index+1}} = $('#example123{{loop.index}}').DataTable({

            buttons:[
            {
                extend: 'colvis',
                collectionLayout: 'fixed two-column'
            },
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
    	    dom: 'Bfrtlip',
    	    deferRender:    true,
    	    scrollY:        300,
            scrollCollapse: true,
            scroller:       true,
            "paging": false,
             "autoWidth": false,
        fixedColumns:   {
            left: 1
        },
            "lengthMenu": [ 10, 20, 25, 50, 75, 100 ],
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { type: 'date', 'targets': [6] },
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 },

            ],
            "order": [1, 'desc'],

    	});


function resettable{{loop.index}}(){
$('#container').css( 'display', 'block' );
table{{loop.index+1}}.columns.adjust().draw();
}

$(document).ready(function() {
<!--$("aside").toggle("slide");-->
    $('a.toggle-vis{{as.types}}').on( 'click', function (e) {
        e.preventDefault();


        // Get the column API object
        var column2 = table{{loop.index+1}}.column( $(this).attr('data-column') );

        // Toggle the visibility
        column2.visible( ! column2.visible() );
$('#container').css( 'display', 'block' );
table{{loop.index+1}}.columns.adjust().draw();
    } );
} );
{% set as.types = as.types + 1 %}
{%endfor%}

</script>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


{% endblock javascripts %}