{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<style>
.paginate_button current{
color: white !important
}
    .modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 76%;
  height: 95%
}

/* The Close Button */
.close {

}

</style>
{% endblock stylesheets %}

{% block content %}

<div class="tablepad">
    <div class="" style="margin-top:-40px">
<br><br>
<div>
          Toggle column: {% for data in allkeys %}<a class="toggle-vis2" style="color:blue" data-column="{{loop.index-1}}"><B>{{data|upper}}</B></a> {% if allkeys|length != loop.index %}- {%endif%}{%endfor%}
    </div>
<table id="example123" class="display table responsive" style="background:unset;width:100%">
    <thead>
        <tr>
            {% for data in allkeys %}
            <th>{{data}}</th>
            {%endfor%}
        </tr>
    </thead>

    <tbody>

{% for data in data %}
        <tr id="myBtn{{ loop.index }}" style="cursor: alias;">
{% for key in allkeys %}
            {% if data[key]|int != 0 %}
            <td>{{data[key]}}</td>
            {% else %}
            <td>{{data[key]|string|truncate(40)}}</td>
            {%endif%}
{%endfor%}
        </tr>
{%endfor%}

     </tbody>

</table>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
<!--    <span class="close">&times;</span>-->
      <div>
          Toggle column: {% for data in allkeys %}<a class="toggle-vis" style="color:blue" data-column="{{loop.index-1}}"><B>{{data|upper}}</B></a> {% if allkeys|length != loop.index %}- {%endif%}{%endfor%}
    </div>
    <table id="example99" class="display table responsive " style="background:unset;width:100%;">
    <thead>
        <tr>
            {% for data in allkeys %}
            <th>{{data}}</th>
            {%endfor%}
        </tr>
    </thead>

    <tbody>

{% for data in alldata %}
        <tr>
{% for key in allkeys %}
            <td>{{data[key]|string|truncate(100)}}</td>
{%endfor%}
        </tr>
{%endfor%}
     </tbody>

</table>

    <button class="closer btn btn-danger" style="width:180px;margin:auto;font-size:15px;margin-top:10px">Close</button>

  </div>

</div>

</div>
</div>

{% endblock %}
{% block javascripts %}
<script>


    var table = $('#example99').DataTable({
    	    dom: 'Bfrtlip',
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],


            "order": [0, 'desc'],
            'ordering': true,
            "lengthMenu": [ 10, 25, 50, 75, 100 ],

            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});



// Get the modal
var modal = document.getElementById("myModal");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closer")[0];

   {% for data in data %}

    // Get the button that opens the modal
    var btn{{loop.index}} = document.getElementById("myBtn{{loop.index}}");

    // When the user clicks the button, open the modal
    btn{{loop.index}}.onclick = function() {
      modal.style.display = "block";
      table.search("{{data.device_name}}").draw();
    }

    {%endfor%}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2700,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}

setTimeout(function(){
   window.location.reload(1);
}, 65000);

window.onbeforeunload = function () {
    document.getElementById('load').style.visibility="visible";
         document.getElementById('loader').style.visibility="visible";
}
$(document).ready(function() {

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();


        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );

</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
<script>
{% set ns = namespace(foo=0) %}

{% for key in allkeys %}
{% if key == 'device_type' %}
var colno = {{loop.index-1}}

{% set ns.foo = loop.index-1 %}


    {% for data in data %}

    {% if loop.index == ns.foo %}
    var datavalue = '{{data[key]}}'
    {%endif%}
    {%endfor%}
{%endif%}

{%endfor%}

    var table2 = $('#example123').DataTable({
             searchBuilder: {
        preDefined: {
            criteria:[
                {
                    condition: '=',
                    data: 'device_type',
                    value: [datavalue]
                }
            ],
            logic: 'AND'
        },
        columns: [colno],
                conditions: {
                string: {
                    'ends': null,
                    '!=': null,
                    'null': null,
                    '!null': null,
                }
            }
    },
            buttons:[
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
    	    dom: 'QBfrtlip',
    	    deferRender:    true,
            scrollY:        450,
            scrollCollapse: true,
            scroller:       true,
            "lengthMenu": [ 15, 20, 25, 50, 75, 100 ],
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { type: 'date', 'targets': [6] },
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],
            "order": [0, 'desc'],

    	});

$(document).ready(function() {

    $('a.toggle-vis2').on( 'click', function (e) {
        e.preventDefault();


        // Get the column API object
        var column2 = table2.column( $(this).attr('data-column') );

        // Toggle the visibility
        column2.visible( ! column2.visible() );
    } );
} );

</script>

{% endblock javascripts %}