{% extends "base-site.html" %}

{% block title %} Devices {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/modaal.min.css">
{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Access Device</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/adddevice">
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        {% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        margin-right: 12px;
        float: right;">Add Device</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>Device Name </th>
            <th>Device Type </th>
            <th>UserName</th>
            <th>Password</th>
            <th>IP </th>
            <th>Direct Access </th>
            <th>Proxy Access </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.device_name}}</td>
            <td>{{dataa.device_type}}</td>
            <td>{{dataa.username}}</td>
            <td>{{dataa.password}}</td>
            <td>{{dataa.ip}}</td>
            <td>
            <a href="{{dataa.ip}}" class="modaal-iframe"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn" style="background-color: #555555;color:white; font-weight: bold;">Connect</button></a></td>
            <td>  
              {% if dataa.ip.startswith('https') %}
              <a target="_blank" href="{{proxy_url}}https/{{dataa.ip[7:]}}"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn"
                  style="background-color: #dd6767;color:white; font-weight: bold;">Proxy Access</button></a>
              {% else %}
                <a target="_blank" href="{{proxy_url}}http/{{dataa.ip[6:]}}"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn"
                    style="background-color: #dd6767;color:white; font-weight: bold;">Proxy Access</button></a>
              {% endif %}
            </td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}

    
    <script src="/static/assets/js/modaal.min.js"></script>

<script>
  $('.modaal-iframe').modaal({
    type: 'iframe',
    width: 1000,
    height: 800,
    accessible_title: 'Device Access'
  });

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock javascripts %}