{% extends "base-site.html" %}

{% block title %} Device Config{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
    <div class="uform" style="margin-left:10px !important;margin-right:10px !important">
        <div class="row">
            <div class="col">
            <h4 style="margin-bottom:20px;">Quick Config</h4>
            </div>
            {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
            <div class="col">
            {{message}}
            </div>
                {% endfor %}
  {% endif %}
{% endwith %}
        </div>
<form method="post" action="/configupdate">
        <div id="inputs" class="row">
            <input type="hidden" name="dtype" value="{{dtype}}">
            <input type="hidden" name="dname" value="{{dname}}">
{% for data in dconfigparams %}
            <div class="col">
            {{data}} : <input type="text" name="{{data}}" oninput="buttonvis()" value="{{alldata[data]}}">
                </div>
            {%endfor%}

        </div>
    <input style="display:none;margin-top:20px" id="submit" onclick="unhide();" class="btn btn-small" type="submit" value="submit">
</form>
    </div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

function buttonvis(){
var x = document.getElementById("submit");
  if (x.style.display === "none") {
    x.style.display = "block";
  }
}

function unhide() {

         document.getElementById('load').style.visibility="visible";
         document.getElementById('loader').style.visibility="visible";
         const myTimeout = setTimeout(myGreeting, 11800);

}
function myGreeting() {
const myTimeout = setTimeout(myGreeting, 19900);
   const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 9000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'info',
  title: 'Action is taking a while please wait .'
})
}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'error',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock javascripts %}