{% extends "base-site.html" %}

{% block title %} DeviceEdit {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/dashboard" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="/deviceview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Devices </a></span>

            </h6>
        </div>



<div class="uform">
    <form action="/editdevice" method="post">

      <div class="row">
         <div class="col-25">
         <label>Device ID :</label>
         </div>
         <div class="col-75">
         <input type="text" name="id" value="{{data.id}}" disabled>
         <input type="hidden" name="id" value="{{data.id}}">
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label>Ip :</label>
        </div>
        <div class="col-75">
        <input type="url" name="ip" value="{{data.ip}}" placeholder="Enter ip" required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label>Device Type :</label>
         </div>
         <div class="col-75">
<!--         <input type="text" name="device_type" value="{{data.device_type}}" placeholder="Enter device_type" required>-->
             <select style="width:95%;padding:14px  " name="device_type">
                 <option selected>{{data.device_type}}</option>
                 {% if data.device_type == "VEGA" %}
                 <option>SBC</option>
                 {% else %}
                 <option>VEGA</option>
                 {% endif %}
             </select>
         </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label>Device Name :</label>
         </div>
         <div class="col-75">
         <input type="text" name="device_name" value="{{data.device_name}}" placeholder="Enter device_name" required>
         </div>
    </div>
    <div class="row">
         <div class="col-25">
         <label>UserName :</label>
         </div>
         <div class="col-75">
         <input type="text" name="username" value="{{data.username}}" placeholder="Enter username" required>
         </div>
    </div>
    <div class="row">
         <div class="col-25">
         <label>Password :</label>
         </div>
         <div class="col-75">
         <input type="text" name="password" value="{{data.password}}" placeholder="Enter password" required>
         </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label>Location :</label>
         </div>
         <div class="col-75">
         <input type="text" name="location" value="{{data.location}}" placeholder="Enter location" required>
         </div>
    </div>

        <div class="row">
         <div class="col-25">
         <label>Region :</label>
         </div>
         <div class="col-75">
         <input type="text" name="region" value="{{data.region}}" placeholder="Enter region" required>
         </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label>Description :</label>
         </div>
         <div class="col-75">
         <input type="text" name="description" value="{{data.description}}" placeholder="Enter description" required>
         </div>
    </div>

    <br>
    <center>
        <input type="submit" name="update" value="Update">
        <a href="/devicedelete/{{data.id}}"><button id="myBtn" style="padding:8px;color:black; border-radius:5px;">Delete Device</button></a>
    </center>
    </form><br>
</div>

</div>
</div>

{% endblock %}
{% block javascripts %}
<script>
    var btn = document.getElementById("myBtn");

btn.onclick = function(e) {
  e.preventDefault();
  location.href = "/devicedelete/{{data.id}}";
}

var btn2 = document.getElementById("myBtn2");

btn2.onclick = function(e) {
  e.preventDefault();
  location.href = "/backup";
}
</script>
{% endblock javascripts %}