{% extends "base-site.html" %}

{% block title %} PING Test {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<style>

#myBtn {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 25px;
    z-index: 99;
    font-size: 19px;
    border: none;
    outline: none;
    background-color: #c4183c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
{% endblock stylesheets %}

{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
<div class="">
    <div class="">
<div class="uform" style="margin-left:65px !important;margin-right:65px !important">
    <div class="row" style="margin-bottom:10px">
        <div class="col-12">
        <form onsubmit="animationca('ping test');" action="#">
            <div class="row">
            <div class="col-12">
                <center>
                    <h2>PING TEST </h2>
            </center>
            </div>
                </div>

            <div class="row">
                <div class="col-12">
                    <input {% if current_user.readonly == 'true' %} disabled {%endif%}  name="ping" style="box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;width: 100%;font-size: 16px;background-color: white;background-image: url('/static/assets/img/worldwide.png');background-position: 10px 10px;background-repeat: no-repeat;padding: 12px 20px 12px 50px;background-size:30px 30px" type="text" required autofocus>
                </div>

                <div class="col-12">
                    <center>
                            <input {% if current_user.readonly == 'true' %} disabled {%endif%}  style="width:18%;margin-top:20px;padding:12px;font-size:14px;" type="submit" class="btn" value="search">
                    </center>
                </div>
            </div>
        </form>
        </div>
    </div>

</div>

    </div></div>
{% endblock content %}
{% block javascripts %}
<script>
document.getElementById("mos").scrollIntoView();

function  animationca(data){
event.preventDefault();
        var box2 = document.getElementById("box2");
        box2.style.left = "44.5%";
        var loadtext = document.getElementById("loadtext").innerHTML = data;
        document.getElementById('load').style.visibility="visible";
        var elem = document.getElementById('animation');
        elem.style.display = "block";

        var a = document.getElementsByName("ping")[0].value;
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('load').style.visibility="hidden";
                var elem = document.getElementById('animation');
                elem.style.display = "none";
                Swal.fire({
                  icon: 'success',
                  title: 'Ping Result',
                  html: '<h4 style="text-align: justify;text-justify: auto;">'+this.responseText+'</h4>',
                  width: 580,
                  padding: '2.8em',
                });
            }
          };
          xhttp.open("POST", "/pingcheck", true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send("ping="+a);

}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
<script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}


// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>
{% endblock javascripts %}