{% extends "base-site.html" %}

{% block title %} iframe {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<a style="text-decoration:none;color:black" href="/diagnostics/mos"><button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-top:15px;
        margin-right: 12px;
        float: right;"> < Mos-Reports Table</button></a>
<iframe width="100%" height="600px" src="/diagnostics/graphs/" title="iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}

{% block javascripts %}
<script>
    document.getElementById("mos").scrollIntoView();
</script>
{% endblock javascripts %}
