{% extends "base-site.html" %}

{% block title %} Devices {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">

{% set as = namespace(types=0) %}
   {% for mylist in device_types_list %}
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <h4>{{mylist}}</h4>


    <div class="row">
    {% for param in graph[mylist] %}


<div class="col-6">
    <p>{{param[0]}}</p>
<canvas id="chart{{as.types}}" width="500" height="450"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in alldata[mylist] %}
           "{{ item.Time_created }}",
          {% endfor %}

	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in alldata[mylist] %}
            {% set data_dict = item.paramvalue|basename %}
               "{{ data_dict[param[0]]| list | reject("in", ["A", "B", "M", "%"]) | join }}",
              {% endfor %}

	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart{{as.types}} = document.getElementById("chart{{as.types}}").getContext("2d");

       steps = 20
       max = 100

     // draw bar chart
     new Chart(mychart{{as.types}}).{{param[1][0]|upper}}{{param[1][1:]}}(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
{% set as.types = as.types + 1 %}
    </div>
{%endfor%}
    </div>
</div>
 </div>
    {%endfor%}

{% endblock %}
{% block javascripts %}
<script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock javascripts %}