{% extends "base-site.html" %}

{% block title %}Licenses {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
      font-weight: 600;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#box {
    position: absolute;
    top: 30%;
    left: 45%;
    display: flex;
    width: 7rem;
    height: 7rem;
    background: rgb(61, 61, 61);
    transform: rotate(45deg);
    animation: loop 1.5s ease forwards infinite;
    overflow: hidden;
}

#box2 {
    position: absolute;
    top: 49%;
    left: 39%;
    display: flex;
    width: max-content;
    height: 2.5rem;
    overflow: hidden;
}

#circle {
    position: absolute;
    margin-top: 2.25rem;
    margin-left: 2.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(0, 174, 255);
    border-radius: 50%;
}

#smallcircle, #smallcircle2 {
    background: rgb(0, 225, 255);
    width: 1.25rem;
    height: 1.25rem;
}

#smallcircle {
    border-radius: 100% 0 0 0;
}

#smallcircle2 {
    margin-left: 1.25rem;
    border-radius: 0 0 100% 0;
}

#black, #black2 {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: rgb(31, 31, 31);
}

#black2 {
    margin-top: 3.5rem;
    margin-left: 3.5rem;
}

@keyframes loop {
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.35) rotate(225deg);
        border-radius: 50%;
    }
    100% {
        transform: scale(1) rotate(405deg);
        border-radius: 0 0 0 0;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 25px;
    z-index: 99;
    font-size: 19px;
    border: none;
    outline: none;
    background-color: #c4183c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.paginate_button current{
color: white !important
}
    .modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
 background-color: #fefefe;
    margin: auto;
    padding: 22px;
    border-radius: 20px;
    border: 1px solid #888;
    width: max-content;
    height: max-content;
}

/* The Close Button */
.close {

}
table.dataTable tr td {
  height: 60px;
}

</style>
{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">License Information</h4>
        </div>
        <div class="col">
<!--            <a style="text-decoration:none;color:black" href="/addbackup">-->
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}      style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        {% if current_user.readonly == 'true' %}cursor:not-allowed;  pointer-events: none;{%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        border-radius: 3px;

        margin-right: 12px;
        float: right;" onclick="mymodalwindow();">Backup License</button>
<!--            </a>-->
        </div>
    </div>
<table id="example12345" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Product</th>
            <th>Max-Calls</th>
            <th>Device Name </th>
            <th>Device Type </th>
            <th>Restore</th>
            <th>Description</th>
            <th>LicenseFilepath</th>
            <th>Timestamp</th>
            <th>IP </th>
<!--            <th>Actions </th>-->
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.name}}</td>
            <td>{{dataa.email}}</td>
            <td>{{dataa.product}}</td>
            <td>{{dataa.maxcalls}}</td>
            <td>{{dataa.device_name}}</td>
            <td>{{dataa.device_type}}</td>
            <td>
                <a {% if current_user.readonly == 'true' %} style="pointer-events: none;cursor:not-allowed" {%endif%} href="/backuplicenserestore/{{dataa.id}}"><button {% if current_user.readonly == 'true' %} disabled {%endif%} onclick="animation('restore')" class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">Restore</button></a>
            </td>
            <td>{{dataa.description|truncate(32, True)}}</td>
            <td>{{dataa.backupfilepath}}</td>
            <td>{{dataa.timestamp}}</td>
            <td>{{dataa.deviceip}}</td>
<!--            <td>-->
<!--                <a href="/deviceedit/{{dataa.id}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>-->

<!--            <a href="/devicedelete/{{dataa.id}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>-->
        </tr>
    {%endfor%}
     </tbody>
</table>
 <div id="animation"  style="display:none">
    <div id="box">
    <div id="black"></div>
    <div id="black2"></div>
    <div id="circle">
        <div id="smallcircle"></div>
        <div id="smallcircle2"></div>
    </div>
</div>
                <center id="box2" style="color:black;background-color: rgba(255,255,255);"><h4 class="animate-charcter" id="loadtext">Backing Up License...</h4></center>
        </div>
    <!-- The Modal -->
<div autofocus id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

      <form onsubmit="setTimeout(animation('backup'), 800)" action="/backuplicensecreate" method="post">
        <div class="row">
            <div class="col-12">
          choose a device name:
          <select style="width:max-content;" name="device_name">
              {% for name in devicenames %}
              <option>{{name[0]}}</option>
              {%endfor%}
          </select>
                </div>
        </div>
          <div class="row">
            <div class="col-12">
          Description:
          <textarea rows="2" cols="11" name="description" required></textarea>
            </div>
        </div>
          <center><input style="margin-top:20px" id="submit" class="btn" type="submit" value="Start Backup"></center>
      </form>
       <button class="closer btn btn-danger" style="width:180px;margin:auto;font-size:15px;margin-top:10px">Close</button>
  </div>

</div>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
function  animation(data){

if(data == "restore"){
var box2 = document.getElementById("box2");
box2.style.left = "36%";
data = 'Reading and Restoring...';
} else {
data = "Backing Up License...";
}

var loadtext = document.getElementById("loadtext").innerHTML = data;
var modal = document.getElementById("myModal");
modal.style.display = "none";
document.getElementById('load').style.visibility="visible";
var elem = document.getElementById('animation');
elem.style.display = "block";
}

    var table= $('#example12345').DataTable({
    	    dom: 'Bfrtlip',
            buttons:[
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
            "order": [9, 'desc'],
            'ordering': true,
            "lengthMenu": [ 10, 25, 50, 75, 100 ],
            deferRender:    true,
    	    scrollY:        300,
    	    scrollX:        true,
            scrollCollapse: true,
            scroller:       true,
            "autoWidth": false,
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});


function mymodalwindow(){


// Get the modal
var modal = document.getElementById("myModal");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closer")[0];
      modal.style.display = "block";

<!--$('#container').css( 'display', 'block' );-->
<!--table.columns.adjust().draw();-->

var scrollbar_pos = document.documentElement.scrollTop;
console.log(scrollbar_pos);

<!--Scrolling to top towards modal window-->
 document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  document.body.scrollTop = scrollbar_pos;
  document.documentElement.scrollTop = scrollbar_pos;
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    document.body.scrollTop = scrollbar_pos;
    document.documentElement.scrollTop =scrollbar_pos;
  }
}

}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 4500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: '{{ category }}',
  title: '{{message}}'
})
    {% endfor %}
  {% endif %}
{% endwith %}

</script>
{% endblock javascripts %}