{% extends "base-site.html" %}

{% block title %} NODES {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
 <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Nodes</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/diagnostics/newnode">
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        {% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        margin-right: 12px;
        float: right;">Add Node</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>ID </th>
            <th>Name </th>
            <th>IP </th>
            <th>Description</th>
            <th>Calculate</th>
            <th>Delete</th>
            
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.id}}</td>
            <td>{{dataa.name}}</td>
            <td>{{dataa.ip}}</td>
            <td>{{dataa.description}}</td>
            <td>
              <!--                <a href="/deviceedit/{{dataa.id}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>-->
            
<!--              <a href="/diagnostics/calculatemos/{{dataa.id}}">-->
                  <button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn"
                  style="background-color: #ee0000;color:white; font-weight: bold;" onclick="loadDoc('{{dataa.id}}','{{dataa.name}}')">Calculate MOS</button>
<!--                </a>-->
            </td>
            <td>
<!--                <a href="/deviceedit/{{dataa.id}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>-->

            <a {% if current_user.readonly == 'true' %} style="pointer-events: none;cursor:not-allowed" {%endif%} href="/diagnostics/deletenode/{{dataa.id}}"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>

</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

function loadDoc(id,name) {
document.getElementById('load').style.visibility="visible";
document.getElementById('loader').style.visibility="visible";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {
    document.getElementById('load').style.visibility="hidden";
    document.getElementById('loader').style.visibility="hidden";

    if (this.responseText == 'invalid'){
    Swal.fire({
          title: 'Invalid IP Address',
          confirmButtonColor: '#555555',
          showClass: {
            popup: 'animate__animated animate__slideInDown'
          },
          hideClass: {
            popup: 'animate__animated animate__fadeOutUp'
          }
        })
    }
 else if(this.responseText == 'None'){
    Swal.fire({
          title: 'Unable to Get the score',
          confirmButtonColor: '#555555',
          showClass: {
            popup: 'animate__animated animate__slideInDown'
          },
          hideClass: {
            popup: 'animate__animated animate__fadeOutUp'
          }
        })
    }else{
       Swal.fire({
          title: 'Score for '+name+' is : '+this.responseText.substring(0, 6),
          confirmButtonColor: '#555555',
          footer: '<a href="/diagnostics/mos">Check M.O.S-Reports</a>',
          showClass: {
            popup: 'animate__animated animate__slideInDown'
          },
          hideClass: {
            popup: 'animate__animated animate__fadeOutUp'
          }
        })
        }
    }
  };

  xhttp.open("GET", "/diagnostics/calculatemos/"+id, true);
  xhttp.send();
}
document.getElementById("mos").scrollIntoView();


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock javascripts %}