{% extends "base-site.html" %}

{% block title %} MOS-Reports {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Mos Reports</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/diagnostics/mosgraph/">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Graphs</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>ID </th>
            <th>IP </th>
            <th>Score </th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.id}}</td>
            <td>{{dataa.ip}}</td>
            <td>{{dataa.score}}</td>
            <td>{{dataa.timestamp}}</td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
document.getElementById("mos").scrollIntoView();
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}

</script>
{% endblock javascripts %}