{% extends "base-site.html" %}

{% block title %} ADD Node {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="lform lformcenter">
                <div class="ultitle">
        <h4>Add Node</h4>
                    {% if msg %}
            <p style="color:red;"> {{ msg | safe }}</p>
                    {% endif %}

    <form role="form" action="/diagnostics/newnoderegister" method="post">

        <div class="form-group input-container">
            <i class="fa fa-user iconr"></i>
            <input class="input-field" type="text" name="name" placeholder="Enter node Name" title="name" autofocus required>
        </div>

        <div class="form-group input-container">
            <i class="fa fa-envelope iconr"></i>
            <input class="input-field" type="text" name="ip" placeholder="Enter IP Address"  required>
        </div>

        <div class="form-group input-container">
            <i class="fa fa-key iconr"></i>
            <input class="input-field" type="text" name="description" placeholder="Enter Description" " required>
        </div>

        <center>
        <input type="submit" value="Add Node" class="btn" style="margin-top:15px;margin-bottom:20px;">
            <br>
<!--            <h3>Have an account? <a href={{ url_for('login') }} class="text-primary">Login</a></h3>-->
        </center>
    </form>
                    <script>if(document.getElementById("testName").checked) {
                           document.getElementById('testNameHidden').disabled = true;
                    }</script>
</div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}