{% extends "base-site.html" %}

{% block title %} Add Devices {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="" style="margin-left:142px !important;margin-right:142px !important">
<br>

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
<div class="wrapper wrapper--w790">
<div class="card card-5">
<div class="card-heading">
<h2 class="title" style="margin-left:20px;margin-top:15px">&nbsp;Command Response</h2>
    </div>
    <div class="card-body">
        <h3><a href="/dashboard" class="btn btn-danger" style="margin-bottom:1px;margin-top:-26px">Go Back</a></h3>
        <p style="white-space: pre-wrap;border: 1px solid grey;background-color: lavender;border-radius:8px;padding:10px;">{{data}}</p>
        </div>
    </div>

</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.select2-hidden-accessible').select2();
});
</script>
{% endblock javascripts %}