<!DOCTYPE html>
<html>

<head>
    <title>Flask-SSE Quickstart</title>
</head>

<body>
    <h1>Flask-SSE Quickstart</h1>
    <script>
        var source = new EventSource("{{ url_for('sse.stream') }}");
        source.addEventListener('greeting', function (event) {
            var data = JSON.parse(event.data);
            alert("The server says " + data.message);
        }, false);
        source.addEventListener('error', function (event) {
            alert("Failed to connect to event stream. Is Redis running?");
        }, false);
    </script>
</body>

</html>