{% extends "base-site.html" %}

{% block title %} AutoProvision - Default {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
{% endblock stylesheets %}

{% block content %}



<div class="">
    <div class="" style="margin-left:10px !important;margin-right:10px !important">
<br>
        <div>
            <h6 style="background-color: #fff;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/dashboard" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
{% if typeis == 'macid'%}
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="/autoprovisionmacid" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">MAC ID's </a></span>
{%endif%}
            </h6>
        </div>

<div class="card">
  <div class="card-body">

    <div class="row">
        <div class="col">
        <label for="defaulttext">Auto Provisioning - {% if filename %}{{filename}}{% else %} Default {%endif%}</label>
        </div>
        <div class="col">
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  onclick="defaulttext();"  style="background-color: #dbdbdb;
        color: #212529;
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}
        {% if current_user.readonly == 'true' %}cursor: not-allowed;{%endif%}
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        margin-right: 12px;
        float: right;">Save</button>
            <p style="float:right;color:red;margin-right:20px;{% if current_user.readonly == 'true' %} display:none; {%endif%} ">You can also press Alt + Enter to Save ! </p>
        </div>
    </div>

    <div class="form-group">
  <textarea name="defaulttext" style="font-weight:500;font-size:16px" class="form-control" id="defaulttext" rows="14" placeholder="Write something here..." autofocus>{{contents}}</textarea>
</div>
<!--<textarea name="defaulttext" rows="20" cols="50" autofocus></textarea>-->
</div>
 </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
setTimeout(function(){
           document.getElementById("mac").scrollIntoView();
         }, 300);

$('#defaulttext').keydown(function (e) {

  if (e.altKey && e.keyCode == 13) {
{% if not current_user.readonly == 'true' %}
    defaulttext();
    {% else %}
    alert("Unauthorized attempt");
    {%endif%}
  }
});

function defaulttext(){

    var defaulttext = document.getElementById("defaulttext").value;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
          const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: 'Updated Successfully'
})
      }

    }
      xhttp.open("POST", "/writedefaulttext", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("defaulttext="+defaulttext+"&filename={% if filename %}{{filename}}{% else %}defaultscript.txt{%endif%}");



}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>

{% endblock javascripts %}