{% extends "base-site.html" %}

{% block title %} Flow TABLE {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

    .modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 76%;
  height: 95%
}

/* The Close Button */
.close {

}

</style>
{% endblock stylesheets %}

{% block content %}

<div class="tablepad">
    <div class="">
<br><br>

<form action="/uploading" method="post" enctype=multipart/form-data>
    <input type="file" name="file">
    <button type="submit" name="file" value="submit">submit</button>
</form>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}