{% extends "base-site.html" %}

{% block title %} Users {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Users</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/register">
    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add User</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>FullName </th>
            <th>Email </th>
            <th>Mobile </th>
            <th>Region </th>
            <th>ReadOnly </th>
            <th>Is Admin</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.fullname}}</td>
            <td>{{dataa.email}}</td>
            <td>{{dataa.mobile}}</td>
            <td>{{dataa.region}}</td>
            <td>{{dataa.readonly}}</td>
            <td>{{dataa.isadmin}}</td>
            <td>
<!--                <a href="/deviceedit/{{dataa.id}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>-->

            <a href="/admindelete/{{dataa.id}}/u"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 2500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: '{{message}}'
})

    {% endfor %}
  {% endif %}
{% endwith %}
</script>
{% endblock javascripts %}