{% extends "base-site.html" %}
{% block title %} Edit Trigger{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}

<div class="" style="margin-left:30px !important;margin-right:30px !important;margin-bottom:20px !important">
<br>
<!-- Start Page Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 style="position:relative;top:-4px" class="card-title">Trigger Details - <span style="color:{% if data.priority == 'HIGH' %}RED{% elif data.priority =='MED' %}orange{% else %}blue{%endif%}">{{data.oid}}</span></h4>
                    </div>
                    <div class="col-6">
                        <a style="float:right" href="/snmp/viewtriggers"><button class="btn btn-sm" style="background-color: #dbdbdb;
color: #212529;
font-size: 13px;
font-weight: 600;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
margin-right: 12px;
float: right;"><i class="material-icons">arrow_left</i>Go Back</button></a>
                    </div>
                </div>

<!--                <h4 style="margin-top:-6px" class="card-title">Create a new Job</h4>-->
<!--                <h6 class="card-subtitle">A new job will create a schedule to update your Device</h6>-->
                <form action="/snmp/newtriggerpost" method="post">
                    <div class="row">
                        <div class="col-1">
                            <label for="oid">OID</label>
                        </div>
                        <div class="col-5">
                            <input id="oid" style="width:100%;" name="oid" type="text" class="form-control input-default" value="{{data.oid}}" placeholder="Input OID" required>
                        </div>
                        <div class="col-1">
                            <label for="name">NAME</label>
                        </div>
                        <div class="col-5">
                            <input id="name" style="width:100%;" name="name" type="text" class="form-control input-default" value="{{data.name}}" placeholder="Input Name" required autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label for="email">Email Recipients</label>
                        </div>
                        <div class="col-10">
                            <input id="email" style="width:100%;" name="email" type="email" value="{{data.emailrecipients}}" class="form-control input-default" placeholder="email recipients" required autofocus>
                        </div>
                    </div>

                    <div class="row">


                       <div class="col-2">
                            <label for="semail">Send Email</label>
                        </div>
                        <div class="col-2">
                            <select id="semail" style="padding:10px;height:auto;" name="semail" class="form-control">
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label for="ssnmp">Send SNMP</label>
                        </div>
                        <div class="col-2">
                            <select id="ssnmp" style="padding:10px;height:auto;" name="ssnmp" class="form-control">
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="swn">Send WebNotification</label>
                        </div>
                        <div class="col-2">
                            <select id="swn" style="padding:10px;height:auto;" name="snotification" class="form-control">
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </div>

                    </div>
                    <input type="hidden" name="id" value="{{data.id}}">
                    <input type="hidden" name="update" value="True">
                    <center style="margin-top:20px"><input type="submit" class="btn btn-rounded btn-info">&nbsp;<a href="/snmp/viewtriggers" class="btn btn-rounded btn-danger">Cancel</a></center>
                </form>

            </div>
        </div>


    </div>
</div>
<!-- End PAge Content -->
</div>

{% endblock %}
{% block javascripts %}
<script>
document.getElementById('priority').value='{{data.priority}}';
document.getElementById('action').value='{{data.action}}';
    setTimeout(function(){
           document.getElementById("va").scrollIntoView();
         }, 250);
</script>
{% endblock javascripts %}