{% extends "base-site.html" %}
{% block title %} New Trigger {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}

<div class="" style="margin-left:30px !important;margin-right:30px !important;margin-bottom:20px !important">
<br>
<!-- Start Page Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 style="position:relative;top:-4px" class="card-title">Create a Trigger</h4>
                    </div>
                    <div class="col-6">
                        <a style="float:right" href="/snmp/viewtriggers"><button class="btn btn-sm" style="background-color: #dbdbdb;
color: #212529;
font-size: 13px;
font-weight: 600;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
margin-right: 12px;
float: right;">View All Triggers</button></a>
                    </div>
                </div>

<!--                <h4 style="margin-top:-6px" class="card-title">Create a new Job</h4>-->
<!--                <h6 class="card-subtitle">A new job will create a schedule to update your Device</h6>-->
                <form action="/snmp/newtriggerpost" method="post">
                    <div class="row">
                        <div class="col-1">
                            <label for="oid">OID</label>
                        </div>
                        <div class="col-5">
                            <input id="oid" style="width:100%;" name="oid" type="text" class="form-control input-default" placeholder="Input OID" required autofocus>
                        </div>
                        <div class="col-1">
                            <label for="name">NAME</label>
                        </div>
                        <div class="col-5">
                            <input id="name" style="width:100%;" name="name" type="text" class="form-control input-default" placeholder="Input Name" required autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label for="email">Email Recipients</label>
                        </div>
                        <div class="col-10">
                            <input id="email" style="width:100%;" name="email" type="email" class="form-control input-default" placeholder="email recipients" required autofocus>
                        </div>
                    </div>

                    <div class="row">
<!--                        <div class="col-1">-->
<!--                            <label for="priority">Priority</label>-->
<!--                        </div>-->
<!--                        <div class="col-5">-->
<!--                            <select id="priority" style="padding:10px;height:auto;" name="priority" class="form-control">-->
<!--                                <option value="HIGH">HIGH</option>-->
<!--                                <option value="MED">MED</option>-->
<!--                                <option value="LOW">LOW</option>-->
<!--                            </select>-->
<!--                        </div>-->

                        <div class="col-2">
                            <label for="semail">Send Email</label>
                        </div>
                        <div class="col-2">
                            <select id="semail" style="padding:10px;height:auto;" name="semail" class="form-control">
                                <option disabled selected>Select a choice</option>
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label for="ssnmp">Send SNMP</label>
                        </div>
                        <div class="col-2">
                            <select id="ssnmp" style="padding:10px;height:auto;" name="ssnmp" class="form-control">
                                <option disabled selected>Select a choice</option>
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="swn">Send WebNotification</label>
                        </div>
                        <div class="col-2">
                            <select id="swn" style="padding:10px;height:auto;" name="snotification" class="form-control">
                                <option disabled selected>Select a choice</option>
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </div>

                    </div>
                    <input type="hidden" name="update" value="False">
                    <center style="margin-top:20px"><input {% if current_user.readonly == 'true' %} disabled {%endif%}   type="submit" class="btn btn-rounded btn-info">&nbsp;<a href="/snmp/viewtriggers" class="btn btn-rounded btn-danger">Cancel</a></center>
                </form>

            </div>
        </div>


    </div>
</div>
<!-- End PAge Content -->
</div>

{% endblock %}
{% block javascripts %}
<script>
    setTimeout(function(){
           document.getElementById("va").scrollIntoView();
         }, 250);
</script>
{% endblock javascripts %}