{% extends "base-site.html" %}
{% block title %} View Alarms {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock stylesheets %}
{% block content %}
<div class="" style="margin-left:10px !important;margin-right:10px !important">
<br>
<div class="page-wrapper">
 
    <div class="container-fluid">
        <!-- Start Page Content -->

        <div class="row">
            <div class="col-12">
                <div class="card" id='card' style="display:none">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <h4 style="position:relative;top:-4px" class="card-title">All Alarms</h4>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-sm" onclick="datepick()" style="background-color: #dbdbdb;
        color: #212529;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Select Date</button>
                            </div>
                        </div>

                        <div id="jobtablediv" class="table-responsive m-t-40">
                            <table id="example786" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>IP</th>
                                        <th>Timestamp</th>
                                        <th>Alertmsg</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for alarm in Alarms %}
                                    <tr>
                                        <td>{{alarm.id}}</td>
                                        <td>{{alarm.ip}}</td>
                                        <td>{{alarm.timestamp}}</td>
                                        <td>{{alarm.alertmsg}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
 
   
</div>

</div>

{% endblock %}
{% block javascripts %}
<script>
function datepick(){
let flatpickrInstance

    Swal.fire({
      title: 'Please select Alarm date',
      html: '<input style="margin-left:10px" id="expiry-date">',
      width: 382,
      stopKeydownPropagation: false,
      preConfirm: () => {
        if ( typeof flatpickrInstance.selectedDates[0]  == 'undefined') {
          Swal.showValidationMessage(`Please Select A Date.`)
        } else {

        table.search( convert(flatpickrInstance.selectedDates[0]) ).draw();
         var x = document.getElementById("card");
              if (x.style.display === "none") {
                x.style.display = "block";
              }
        }

      },
      willOpen: () => {
        flatpickrInstance = flatpickr(
          Swal.getPopup().querySelector('#expiry-date')
        )
      }
    })

}
datepick();
function convert(str) {
  var date = new Date(str),
    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
    day = ("0" + date.getDate()).slice(-2);
  return [date.getFullYear(), mnth, day].join("-");
}

var table = $('#example786').DataTable({
    	    dom: 'Bfrtlip',
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ],
            "order": [[ 0, "desc" ]],
            responsive: {
            details: {
            renderer: function ( api, rowIdx, columns ) {
                var data = $.map( columns, function ( col, i ) {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');

                return data ?
                    $('<table/>').append( data ) :
                    false;
            }
            }
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 4, targets: -1 },
                { responsivePriority: 3, targets: -2 }
            ],

    	});



</script>
<script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 4500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: '{{ category }}',
  title: '{{message}}'
})
    {% endfor %}
  {% endif %}
{% endwith %}

    setTimeout(function(){
           document.getElementById("va").scrollIntoView();
         }, 250);
</script>
{% endblock javascripts %}