{% extends "base-site.html" %}
{% block title %} View Triggers {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}
<div class="" style="margin-left:10px !important;margin-right:10px !important">
<br>
<div class="page-wrapper">
 
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <h4 style="position:relative;top:-4px" class="card-title">All Triggers</h4>
                            </div>
                            <div class="col-6">
                                <a style="{% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}float:right" href="/snmp/newtriggers"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn btn-sm" style="background-color: #dbdbdb;
        color: #212529;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        margin-right: 12px;
        float: right;">Create Trigger</button></a>
                            </div>
                        </div>

                        <div id="jobtablediv" class="table-responsive m-t-40">
                            <table id="example" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>OID</th>
                                        <th>Name</th>
                                        <th>Email Recipients</th>
                                        <th>Send Email</th>
                                        <th>Send SNMP</th>
                                        <th>Send WebNotification</th>
                                        <th>View/Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for trigger in Triggers %}
                                    <tr>
                                        <td>{{trigger.oid}}</td>
                                        <td>{{trigger.name}}</td>
                                        <td>{{trigger.emailrecipients}}</td>
                                        <td>{% if trigger.sendemail== 1 %}YES{% else %} NO {%endif%}</td>
                                        <td>{% if trigger.forwardonsnmp== 1 %}YES{% else %} NO {%endif%}</td>
                                        <td>{% if trigger.sendwebnotification== 1 %}YES{% else %} NO {%endif%}</td>

                                        <td>
                                            <a {% if current_user.readonly == 'true' %} style="pointer-events: none;cursor:not-allowed" {%endif%} class="btn btn-sm btn-rounded" href="/snmp/viewtriggerdetail/{{trigger.id}}"><BUTTON  style="background-color: #555555;color:white; font-weight: bold;" {% if current_user.readonly == 'true' %} disabled {%endif%} >View</BUTTON></a>
                                            <button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn btn-sm btn-rounded btn-danger" onclick="verifydelete('{{trigger.id}}')">Delete</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
     
    </div>
 
   
</div>

</div>

{% endblock %}
{% block javascripts %}
<script>


    function verifydelete(fileid) {
        swal.fire({
            title: "Are you sure, you want to delete?",
            text: "Deleted Trigger data cannot be viewed again!!",
            icon: "warning",
            dangerMode: true,
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        })
            .then(willDelete => {
                if (willDelete.isConfirmed) {
                    $.get("/snmp/triggerdelete/" + fileid, function (data) {
                        swal.fire("Deleted!", "The trigger has been deleted!", "success");
                        setTimeout(function(){
                                location.reload();
                         }, 550);

                    });

                }
            });
    }


</script>
<script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    const Toast = Swal.mixin({
  toast: true,
  position: 'bottom-end',
  showConfirmButton: false,
  timer: 4500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: '{{ category }}',
  title: '{{message}}'
})
    {% endfor %}
  {% endif %}
{% endwith %}

    setTimeout(function(){
           document.getElementById("va").scrollIntoView();
         }, 250);
</script>
{% endblock javascripts %}