{% extends "base-site.html" %}
{% block title %} New Firmware Update{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}
<div class="" style="margin-left:10px !important;margin-right:10px !important">
<br>
<br>
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            <h4 style="position:relative;top:-4px" class="card-title">Firmware Upload</h4>
                        </div>
                        <div class="col-6">
                            <a style="float:right" href="/fwu/viewfiles"><button class="btn btn-sm" style="background-color: #dbdbdb;
    color: #212529;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 12px;
    float: right;">View All Firmwares</button></a>
                        </div>
                    </div>

<!--                    <h4 class="card-title">Firmware Upload</h4>-->
                    <h6 style="margin-top:1px" class="card-subtitle">Upload a new firmware file here</h6>
                    <form action="/fwu/fileupload" class="dropzone" id="firmware" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input style="width: 100%;margin-bottom:4px;" name="name" type="text" class="form-control input-default "
                                placeholder="Input Name of Firmware">
                        </div>
                        <!-- <div class="form-group">
                            <input name="description" type="text" class="form-control input-default "
                                placeholder="Description of Firmware">
                        </div> -->
                        <div class="form-group">
                            <input style="width: 100%;;margin-bottom:4px;" name="version" type="text" class="form-control input-default "
                                placeholder="Version of Firmware">
                        </div>
                        <div class="form-group">
                            <select style="padding:10px;height:auto;;margin-bottom:4px;"  name="devicetype" class="form-control">
                                <option value="SBC">SBC</option>
                                <option value="VEGA">VEGA</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input style="cursor:pointer" name="file" type="file" />
                            </div>
                            <div class="col-6">
                                <input {% if current_user.readonly == 'true' %} disabled {%endif%}  style="float:right" type="submit" class="btn btn-rounded btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <!-- End PAge Content -->
</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    setTimeout(function(){
           document.getElementById("al").scrollIntoView();
         }, 300);
</script>
{% endblock javascripts %}