{% extends "base-site.html" %}
{% block title %} New Firmware Update{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    cursor:pointer;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

input[type='checkbox']:checked:after {
  content: "✔";
  position: relative;
  font-size: 100%;
  left: 0.2999em;
  top: -0.05em;
}

</style>
{% endblock stylesheets %}
{% block content %}

<div class="" style="margin-left:10px !important;margin-right:10px !important;margin-bottom:20px !important">
<br>
<!-- Start Page Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 style="position:relative;top:-4px" class="card-title">Create a new Job</h4>
                    </div>
                    <div class="col-6">
                        <a style="float:right" href="/fwu/viewjobs"><button class="btn btn-sm" style="background-color: #dbdbdb;
color: #212529;
font-size: 13px;
font-weight: 600;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
margin-right: 12px;
float: right;">View All Jobs</button></a>
                    </div>
                </div>

<!--                <h4 style="margin-top:-6px" class="card-title">Create a new Job</h4>-->
                <h6 class="card-subtitle">A new job will create a schedule to update your Device</h6>
                <form action="/fwu/newjobpost" method="post">
                    <div class="form-group">
                        <input style="width: 100%;" name="name" type="text" class="form-control input-default "
                            placeholder="Give a name for Update Job">
                    </div>
                   
                    <div class="form-group">
                        <label>Select Firmware</label>
                        <select style="padding:10px;height:auto;" name="firmware" class="form-control">
                            {% for file in files %}
                            <option value="{{file.filename}}">{{file.type}} :: {{file.version}} :: {{file.name}}</option>
                            {% endfor %}


                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Device that needs to be updated</label>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>IP</th>
                                    <th>Type</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            {% for device in devices %}
                            <tr>
                                <td>{{ device.device_name }}</td>
                                <td>{{ device.description }}</td>
                                <td>{{ device.ip }}</td>
                                <td>{{ device.device_type }}</td>
                                <td><input style="" type=checkbox name=sbcselect value="{{ device.id }}"></td>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <center><input {% if current_user.readonly == 'true' %} disabled {%endif%} type="submit" class="btn btn-rounded btn-info"> &nbsp;
                        <a href="/fwu/viewjobs"><button type="button" class="btn btn-rounded btn-danger">Cancel</button></a></center>
                </form>

            </div>
        </div>


    </div>
</div>
<!-- End PAge Content -->
</div>

{% endblock %}
{% block javascripts %}
<script>
    setTimeout(function(){
           document.getElementById("al").scrollIntoView();
         }, 300);
</script>
{% endblock javascripts %}