<table id="viewjobstable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                           <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Job TS</th>
                                                <th>Status</th>
                                                <th>Firmware</th>
                                                <th>Job Details</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                               <th>Name</th>
                                                <th>Description</th>
                                                <th>Job TS</th>
                                                <th>Status</th>
                                                <th>Firmware</th>
                                                <th>Job Details</th>
                                            </tr>
                                        </tfoot>
                                     <tbody>
                                        {% for job in jobs %}
                                                <tr>
                                                <td>{{job.name}}</td>
                                                <td>{{job.description}}</td>
                                                <td>{{job.ts}}</td>
                                                    <td>{{job.status}}</td>
                                                    <td>{{job.firmware}}</td>
                                                <td><a class="btn btn-info btn-sm btn-rounded" href="/viewjobdetail/{{job._id}}">View</a>
                                                 {% if job.status == "Paused" %}
                                <a href="/resume/{{job._id}}/m"><img height="32px" src="../static/images/resume.png"/></a>
                                {% elif job.status == "Complete" %}
                                <button class="btn btn-sm btn-rounded btn-danger" onclick="verifydelete('{{job._id}}')">Delete</button>
                                {% else %}
                                <a href="/pause/{{job._id}}/m"><img height="32px" src="../static/images/pause.png"/></a>
                                {% endif %}
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>