{% extends "base-site.html" %}
{% block title %} View Firmware Files{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}
<div class="" style="margin-left:10px !important;margin-right:10px !important;margin-bottom:20px !important">
<br>
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            <h4 style="position:relative;top:-4px" class="card-title">Firmware Files</h4>
                        </div>
                        <div class="col-6">
                            <a style="{% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%} float:right" href="/fwu/newfile"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn btn-sm" style="background-color: #dbdbdb;
    color: #212529;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 12px;
    float: right;">Upload Firmware</button></a>
                        </div>
                    </div>

<!--                    <h4 class="card-title">Firmware Files</h4>-->
                   
                    <div class="table-responsive m-t-40">
                        <table id="example" class="display nowrap table table-hover table-striped table-bordered"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Uploaded</th>
                                    <th>Version</th>
                                    <th>Filename</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
<!--                            <tfoot>-->
<!--                                <tr>-->
<!--                                    <th>Name</th>-->
<!--                                    <th>Type</th>-->
<!--                                    <th>Uploaded</th>-->
<!--                                    <th>Version</th>-->
<!--                                    <th>Filename</th>-->
<!--                                    <th>Action</th>-->
<!--                                </tr>-->
<!--                            </tfoot>-->
                            <tbody>
                                {% for file in files %}
                                <tr>
                                    <td>{{file.name}}</td>
                                    <td>{{file.type}}</td>
                                    <td>{{file.ts}}</td>
                                    <td>{{file.version}}</td>
                                    <td>{{file.filename}}</td>
                                    <td><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn btn-sm btn-rounded btn-danger"
                                            onclick="verifydelete('{{file.id}}')">Delete</button> </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
   
</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
function verifydelete(fileid){
swal.fire({
title: "Are you sure, you want to delete?",
text: "Deleted firmware files cannot be restored!!",
icon: "warning",
dangerMode: true,
})
.then(willDelete => {
if (willDelete) {
$.get( "/fwu/filedelete/"+fileid, function( data ) {
swal.fire("Deleted!", "The firmware file has been deleted!", "success");
location.reload();
});

}
});
}
</script>
<script>
    setTimeout(function(){
           document.getElementById("al").scrollIntoView();
         }, 300);
</script>
{% endblock javascripts %}