{% extends "base-site.html" %}
{% block title %} View Firmware Update Jobs {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock stylesheets %}
{% block content %}
<div class="" style="margin-left:10px !important;margin-right:10px !important">
<br>
<div class="page-wrapper">
 
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <h4 style="position:relative;top:-4px" class="card-title">List of Firmware Update Jobs</h4>
                            </div>
                            <div class="col-6">
                                <a style="{% if current_user.readonly == 'true' %} pointer-events: none;cursor:not-allowed; {%endif%}
        {% if current_user.readonly == 'false' %}cursor: pointer;{%endif%}float:right" href="/fwu/newjob"><button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn btn-sm" style="background-color: #dbdbdb;
        color: #212529;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        margin-right: 12px;
        float: right;">Create New Job</button></a>
                            </div>
                        </div>

                        <div id="jobtablediv" class="table-responsive m-t-40">
                            <table id="example" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Device</th>
                                        <th>IP</th>
                                        <th>Type</th>
                                        <th>Firmware</th>
                                        <th>Status</th>
                                        <th>Job TS</th>
                                    </tr>
                                </thead>
<!--                                <tfoot>-->
<!--                                <tr>-->
<!--                                    <th>Name</th>-->
<!--                                    <th>Device</th>-->
<!--                                    <th>IP</th>-->
<!--                                    <th>Type</th>-->
<!--                                    <th>Firmware</th>-->
<!--                                    <th>Status</th>-->
<!--                                    <th>Job TS</th>-->
<!--                                </tr>-->
<!--                                </tfoot>-->
                                <tbody>
                                    {% for job in jobs %}
                                    <tr>
                                        <td>{{job.name}}</td>
                                        <td>{{job.devicename}}</td>
                                        <td>{{job.deviceip}}</td>
                                        <td>{{job.devicetype}}</td>
                                        <td style="height:auto;vertical-align: center;">{{job.firmware}}</td>
                                        <td><div class="row">
                                                <div class="col-5">
                                                    <span>{{job.status}} |</span>
                                                {% if job.status == "Paused" %}
                                                </div>
                                                <div class="col-4">
                                                    {% if current_user.readonly == 'true' %}
                                                    <span href="resume/{{job.id}}/m"><i style="font-size:35px;top:-2px" class="material-icons">smart_display</i></span>
                                                    {% else %}
                                                    <a href="resume/{{job.id}}/m"><i style="font-size:35px;top:-2px" class="material-icons">smart_display</i></a>
                                                    {%endif%}
                                                </div>
                                                {% elif job.status == "Complete" %}
                                                </div>
                                                <div class="col-4">
                                                    <button {% if current_user.readonly == 'true' %} disabled {%endif%}  class="btn btn-sm btn-rounded btn-danger" onclick="verifydelete('{{job.id}}')">Delete</button>
                                                </div>
                                                {% else %}
                                                </div>
                                                <div class="col-2">
                                                    {% if current_user.readonly == 'true' %}
                                                    <span href="pause/{{job.id}}/m"><i style="font-size:35px;top:-2px" class="material-icons">pause_presentation</i></span>
                                                    {% else %}
                                                    <a href="pause/{{job.id}}/m"><i style="font-size:35px;top:-2px" class="material-icons">pause_presentation</i></a>
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>{{job.ts}}</td>
                            
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
     
    </div>
 
   
</div>

</div>

{% endblock %}
{% block javascripts %}
<script>
    function verifydelete(fileid) {
        swal.fire({
            title: "Are you sure, you want to delete?",
            text: "Deleted Job data cannot be viewed again!!",
            icon: "warning",
            dangerMode: true,
        })
            .then(willDelete => {
                if (willDelete) {
                    $.get("jobdelete/" + fileid, function (data) {
                        swal.fire("Deleted!", "The job has been deleted!", "success");
                        location.reload();
                    });

                }
            });
    }


</script>
<script>
    setTimeout(function(){
           document.getElementById("al").scrollIntoView();
         }, 300);
</script>
{% endblock javascripts %}